
/saved_model/model_bottom
/saved_model/model_top
/saved_model/model_sub
/saved_model/model_shoes
/saved_model/model_bottom.keras
/saved_model/model_top.keras
/saved_model/model_sub.keras
/saved_model/model_shoes.keras
